@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Public+Sans:wght@300&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0vh;
  padding: 0vh;
  font-family: "Montserrat", sans-serif;
  font-family: "Public Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.user-container {
  margin: 5vh;
}

body {
  background-color: #ecf0f1;
}

.post {
  margin: 10px;
  padding-bottom: 4vh;
  border-bottom: 2px solid rgb(0, 123, 94, 0.15);
}

.image {
  height: 5vh;
  width: 5vh;
  margin-right: 5vh;
  margin-left: 1vh;
}
.container {
  display: flex;
  height: 8vh;
  align-items: center;
  background-color: #dde0e2;
}

.postTitle {
  font-size: 2.5vh;
  font-weight: bold;
  margin: 2vh 0vh;
  margin-left: 2vh;
  color: #747373;
}
.commentsBtn {
  padding: 1vh;
  margin: 2vh 0vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.32);
  border-radius: 10vh;
  width: 15vw;
  cursor: pointer;
  border: none;
  margin-top: 2vh;
  margin-left: 3vh;
  color: #007b5e;
  background-color: white;
}

.commentsBtn:hover {
  background-color: #007b5e;
  color: white;
}

.completePost {
  margin-top: 8vh;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header {
  color: #007b5e;
  font-weight: bold;
}

.postBody {
  margin-left: 2vh;
  padding-bottom: 1vh;
}

.comment-container {
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
}

.single-comment {
  margin: 3vh 3vh;
  background-color: white;

  padding: 2vh 2vh;
  box-shadow: 0 2px 5px 0 rgba(20, 44, 24, 0.36),
    0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.comment-header {
  display: flex;
  flex-direction: column;
  margin: 1vh 0vh;
  justify-content: space-around;
  border-bottom: 2px solid rgb(0, 123, 94, 0.25);
}

.comment-header div {
  color: #007b5e;
  padding: 1vh;
  margin: 0vh 0vh;
}

.para {
  padding: 1vh;
  margin: 1vh 0vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.32);
  background-color: #ecf0f1;
  border-radius: 2vh;
}

.emailContainer {
  font-size: 1.5vh;
}
.username {
  font-size: 2.4vh;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .commentsBtn {
    width: 30vw;
    margin-bottom: 5vh;
  }
  .postBody {
    font-size: 2vh;
  }
  .para {
    border-radius: 0vh;
    font-size: 2vh;
  }
}

@media screen and (max-width: 405px) {
  .commentsBtn {
    width: 35vw;
    margin-bottom: 5vh;
  }
  .postBody {
    font-size: 2vh;
  }
  .para {
    border-radius: 0vh;
    font-size: 2vh;
  }
}
